sphinx
nbsphinx
sphinx-rtd-theme
sphinx-autodoc-typehints
sphinx-autodoc-annotation
sphinx_gallery
myst-nb
anndata
scanpy
numpy
fastparquet
pyarrow
scipy
scikit-learn
shapely
descartes
tifffile
opencv-python
imagecodecs